body {
    background-color: #383838;
    color:white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

main{
    max-width: 40%;
    margin: 0 auto; 
} 

/*Navigering*/
nav{
    background-color: rgb(223, 100, 0); 
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.507);
}

#navList {
    list-style-type: none;
    padding:1%; 
    margin-top:0px; 
} 

#navList li {
    display: inline;
    color:#ffff; 
} 

a {
    text-decoration:none; 
    color:#ffff; 
    padding: 1.5%; 
    font-weight: bold;
    font-size: 1.25em;
}

a:hover {
    text-decoration: underline;
    color: #cfcfcf  
}

#logo {
    font-size: 2em;
}

#logo:hover{
    text-decoration: none;
    color:#ffff; 
} 

#active{
    text-decoration: underline;
}

/*Intext link*/
#intextLink {
    text-decoration: underline; 
    padding: 0; 
    font-size: 1em; 
} 

/*Media-query för mindre skärm */
@media (max-width:900px){

    main {
        max-width: 60%;
    }

    #navList li {
        display: block;
    }
}